#back{
    background-color: #22272E;
    height: 1000px;
    text-align: center;
}

#logout{
  background-color: #8256D0;
  color: #fff;
  border-radius: 5px;
  margin-top: 8px;
  width: 100px;
  height: 40px;
  margin-right: 30px;
  
}

#headert{
    padding-top: 400px;
    color: #fff;
}


#caption{
    color: #fff;
    margin-left: 30px;
    
}

