#back{
    background-color: #22272E;
    height: 1000px;
}

#logout{
    background-color: #4CAF50;
  color: #fff;
  border-radius: 5px;
  margin-top: 8px;
<<<<<<< HEAD

=======
  margin: 0 auto;
>>>>>>> 3fbbb1477634f3dd6ecc7468c6efc567d41bc863
}