.register-screen {
  width: 100%;
  height: 105vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #22272E;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.register-screen__form {
  width: 480px;
  padding: 1.2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background: #161B22;
  color: #FFFFFF;
  border-color: #21262d;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
}

.register-screen__title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 32px;
  font-weight: 600;
}

.register-screen__subtext {
  font-size: 0.7rem;
  display: block;
  margin: 0.5rem 0;
}

.inputs{
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: medium;
}

#btn{
  background-color: #4CAF50;
  color: #fff;
  border-radius: 5px;
  margin-top: 8px;

}

.message{
  font-size: 15px;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}