/* .StatusCardSubmission{
    width: 800px;
    margin: 0 auto;
    padding: 1.5rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    background: #161b22;
    border-radius: 5px;
    color: black;
    border-width: 2px;
    border-style: solid;
    border-color: #21262d;
} */