.view-feedback{
height: 1500px;
background-color: #22272E;

}

#caption{
  
  text-align: center;
  color: white;
  font-size: xx-large;
}



.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-top: 20px;
    margin-left: 20%;
    transition: 0.3s;
    width: 60%;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    
    
  }

  
  .card:hover {
    box-shadow: 0 20px 40px 0 rgba(246, 244, 244, 0.62);
  }
  
  .container {
    padding: 2px 16px;
  }

  #feedback-topic{
      font-size: larger;
  }
  #feedbackcontent{
      margin-top: 10px;
  }


